@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}

.p-datatable .p-datatable-thead > tr > th {
  font-weight: 600;
}
