@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: "Inter", system-ui, sans-serif;

  --p-surface-0: #ffffff;
  --p-surface-50: #f9fafb;
  --p-surface-100: #f3f4f6;
  --p-surface-200: #e5e7eb;
  --p-surface-300: #d1d5db;
  --p-surface-400: #9ca3af;
  --p-surface-500: #6b7280;
  --p-surface-600: #4b5563;
  --p-surface-700: #374151;
  --p-surface-800: #1f2937;
  --p-surface-900: #111827;
  --p-surface-950: #030712;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}

.p-tag {
  font-weight: 500 !important;
}

.dark {
  --p-datatable-body-cell-selected-border-color: var(--color-gray-900);
  --p-datatable-row-striped-background: var(--color-gray-950);
  --p-datatable-border-color: var(--color-gray-800);
}


