@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: "Inter", system-ui, sans-serif;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}

.p-tag {
  font-weight: 500 !important;
}

.dark {
  --p-datatable-border-color: var(--color-slate-800);
  --p-inputtext-background: var(--color-slate-800);
  --p-select-background: var(--color-slate-800);
  --p-textarea-background: var(--color-slate-800);
  --p-inputnumber-background: var(--color-slate-800);
}

.dark .p-datatable {
  background: transparent !important;
}

.dark .p-datatable .p-datatable-thead > tr > th {
  background: #0f172a !important;
}

.dark .p-datatable .p-datatable-tbody > tr > td {
  background: transparent !important;
}

.dark .p-datatable .p-datatable-tbody > tr:nth-child(even) > td {
  background: #020617 !important;
}

.dark .p-datatable .p-datatable-tbody > tr:hover > td {
  background: #1e293b !important;
}

.dark .p-paginator {
  background: transparent !important;
}

.dark .p-inputtext,
.dark .p-inputnumber .p-inputnumber-input,
.dark .p-textarea {
  background: #1e293b !important;
}

.dark .p-select {
  background: #1e293b !important;
}


